*{
    margin:0;
    padding:0;
    font-family: 'Cambria';
}


.welcome-menu{
    width:100%;
    height: 150px;
}
::selection {
    background: darkgray;
}
.container{
    max-width:1500px;
    margin: 0 auto;

}
body{
    background-color:#F6F3EE;
}
.menu{
    display: flex;
    justify-content: center;
    font-family: Calibri,serif;
    width:700px;
    height: 200px;
    position:absolute;
    margin-left:400px;
    margin-top:49px;
}

.about{

    text-align:center;
    margin-top:100px;
    font-size:28px;
    width:650px;
}

.dropdown-menu-gimnaziu{
    display: none;
}
.dropdown-menu-liceu{
    display: none;
}
.menu-liceu:hover .dropdown-menu-liceu{display: block;}
.menu-gimnaziu:hover .dropdown-menu-gimnaziu{display: block;}


.welcome-background{
    background-image: url('./assets/websiteUI/schita-liceu.png');
    width: 100%; height: 850px;
    background-size: cover; background-position: center;
}

.page-title-bar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.page-title-bar::before,
.page-title-bar::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid black;
    margin: 0 20px;
}

.page-title {
    font-size:100px;text-align: center;font-weight: bold;
}